name: Docker CI
on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Build Docker image
        run: docker build -t mon-site .
      
      - name: Test image
        run: docker run --rm mon-site ls /usr/share/nginx/html
